@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    padding: 0;
    border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    height: 100%;
    /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
    scrollbar-gutter: stable;
    /**
    Плавный скролл
   */
    scroll-behavior: smooth;
}

body {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    min-height: 100%;
    /**
    Унифицированный интерлиньяж
   */
    line-height: 1.5;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
    cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
    -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill="none"],
        [fill^="url"])) {
    fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke="none"],
        [stroke^="url"])) {
    stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
    border-collapse: collapse;
    border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --color-grey-primary: #4b5157;
    --color-grey-secondary: #262d33;
    --color-white: #fff;
    --color-bg: #30363D;
    --color-white-opacity: rgba(255, 255, 255, 0.4);
    --color-blue: #4592ff;
    --color-green: #3dc47e;
    --color-greyblue: #6e99ae;
    --color-bluegreen: #3bbdc4;
    --color-grey-icon: #bcbfc2;
    --color-grey-blue: #b4d1e0;
    --color-purple: #ac8ee3;
    --color-orange: #ffa34d;
    --color-red: #ff4f52;
    --color-red-accent: #eb5757;
    --color-back-light: #e5e5e5;
    --color-light-pink: #e7d9ff;
    --color-border: #d9dadb;
    --color-grey: #d9dadb;
    --color-grey-span: #939699;

    --gap: 30px;
    --width-content: 117rem;
    --font-family-base: "Lato", sans-serif;
    --font-family-accent: "Roboto Slab", serif;
    --fz-tiny: 12px;
    --fz-primary: 14px;
    --fz-medium: 16px;
    --fz-big: 2.5rem;
    --fz-title: 40px;

    --container-width: 1140px;
    --container-padding-x: 15px;

    --transition-duration: .2s;
}

body {
    height: 100%;
    overflow-x: hidden;
    font-family: var(--font-family-base);
    line-height: 1.43;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fz-primary);
    color: var(--color-grey-primary);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

button {
    border: none;
    padding: 0;
    outline: 0;
    background: transparent;
    display: inline-block;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--color-grey-secondary);
}

a:hover {
    /* color: var(--color-purple); */
}

p {
    margin-block: 0;
}

input {
    border: none;
}

input:focus {
    outline: none;
}


.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-wide {
    max-width: 1920px;
    margin-inline: auto;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--color-light);
}

.button {
    color: var(--color-white);
    font-size: 14px;
    line-height: 20px;
    padding: 10px 25px;
    border-radius: 25px;
    text-align: center;
    background: var(--color-blue);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 40px;
    transition: .3s;
}

.button:focus,
.button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    transform: translateY(-2px);
}

.title {
    font-family: "Roboto Slab", serif;
    line-height: 2.5rem;
    font-weight: 700;
    font-style: normal;
}

.flex-space {
    display: flex;
    align-items: center;
}


/* header */
.header__top {
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    height: 50px;
}


.header__top-nav-wrapper {
    column-gap: 15px;
    padding-right: 25px;
}

.nav-burger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18px;
    height: 14px;
    transition: .3s cubic-bezier(.215, .61, .355, 1);
}

.nav-burger-button span {
    background: var(--color-grey-icon);
    width: 18px;
    height: 2px;
    transition: .3s cubic-bezier(.215, .61, .355, 1);
}

.nav-burger-button span:nth-child(2) {
    width: 12px;
}

.header__top-nav-wrapper span {
    font-weight: 900;
    color: var(--color-grey-secondary);
}

.search-form {
    position: relative;
    width: 400px;
    column-gap: 10px;
    padding-left: 26px;
}

.search-form::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 1px;
    height: 53px;

    background-color: var(--color-border);
}

.search-form__input {
    width: 100%;
}

.input::placeholder {
    color: var(--color-grey-span);
}


.header__action {
    column-gap: 25px;
}

.subscribe-promo {
    align-items: start;
    column-gap: 10px;
}

.subscribe-promo-img {
    width: 66px;
    height: 44px;
}

.subscribe-promo {
    padding-top: 7px;
}

.subscribe-promo__body {
    flex-direction: column;
    justify-content: center;
    width: 119px;
    align-items: start;
    padding-top: 4px;
}

.subscribe-promo-title {
    font-weight: 900;
    font-size: 12px;
    line-height: 1.25;
    color: var(--color-grey-secondary);
}

.subscribe-promo-sub {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: var(--color-grey-span);
}

.sign-in {
    column-gap: 10px;
    color: var(--color-grey-primary);
}

.header__masthead {
    height: 84px;
    padding-left: 35px;
    justify-content: space-between;
}

.header__masthead-logo-wrapper {
    column-gap: 15px;
}

.header__masthead-title {
    font-size: var(--fz-title);
    margin-left: -60px;
    color: var(--color-grey-secondary);
}

.datetime-weather__date {
    width: 195px;
}

.datetime-weather {
    column-gap: 23px;
}

.datetime-weather__weather {
    column-gap: 10px;
}

.header__nav {
    padding-block: 17px;
    background-color: var(--color-grey-secondary);
    text-transform: uppercase;
}

.header__nav-list {
    justify-content: space-between;
}

.header__nav-item {
    padding: 3px;
    display: inline-block;
    transition: all .2s ease;
}

.header__nav-item:hover {
    box-shadow: 1px 1px 3px rgba(217, 218, 219, .3);
    transform: translateY(-2px);
}

.header__nav-link,
.header__nav-link:hover {
    color: #fff;
}

/* hero */

.main {
    background-color: #EDEFF0;
}

.hero {
    padding-top: 30px;
    background-color: var(--color-grey-secondary);
    background-image: linear-gradient(to bottom, #262d33 60%, #EDEFF0 40%);
    margin-bottom: 30px;
}


.hero__article-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4rem;
    padding: 25px 25px 30px 25px;
    background-color: var(--color-bg);
    border-radius: 10px;
    margin-bottom: 30px;
}

.hero__article-item {
    position: relative;
}

.article__link {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.article__title {
    font-family: var(--font-family-accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.56;
    color: var(--color-white);
    max-width: 154px;
}

.hero__article-item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: -2.1rem;
    background: var(--color-grey-primary);
}

.hero__tabs {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.tabs__content {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    flex-basis: 87.7rem;
}

.tab {
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 55px;
    padding-inline: 55px;
    padding-bottom: 95px;
    color: var(--color-white);
}

.tab__img {
    position: absolute;
    inset: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
}

.tab__author-info span {
    font-size: 12px;
    color: var(--color-white-opacity);
}

.tab__author {
    column-gap: 10px;
}

.tab__author-name {
    opacity: 0.85;
    margin-bottom: 2px;
}

.tab__subtitle {
    font-weight: 900;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-blue);
    margin-bottom: 25px;
}

.tab__title {
    max-width: 600px;
    font-family: var(--font-family-accent);
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25;
    color: var(--color-white);
    margin-bottom: 45px;
}

.tab__links {
    column-gap: 30px;
}

.tab__video-link {
    display: flex;
    column-gap: 10px;
}

.tab__video-link:hover .video__text {
    transform: translateY(-2px);
}

.button--read {
    position: relative;
    padding: 10px 45px 10px 25px;
}

.button--read::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 4px;
    background-image: url(../icons/arrow-rigth-button.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 15px;
    transition: .3s;
}

.button--read:hover::after {
    transform: translateX(6px);
}

.video__text {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    color: var(--color-white);
    transition: transform 0.2s ease;
}

.video__name {
    opacity: .85;
}

.video__time {
    font-size: 12px;
    opacity: .4;
}

.tabs__preview {
    flex-basis: 26.3rem;
    flex-grow: 1;
}

.preview__item {
    text-align: left;
    padding: 17px 25px 19px;
    background: #fff;
    cursor: pointer;
}

.preview__item {
    position: relative;
    border-top: 1px solid var(--color-grey);
}

.preview__item.active {
    background: #e5e5e5;
}

.preview__item.active::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #e5e5e5;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 2;
}

.preview__heading {
    padding: 19px 25px;
}

.preview__heading-text {
    font-weight: 900;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-grey-secondary);
}

.preview__subtitle {
    margin-bottom: 8px;
}

.subtitle {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-bluegreen);
}

.subtitle--greyblue {
    color: var(--color-bluegreen);
}

.subtitle--greyblue {
    color: var(--color-greyblue);
}

.subtitle--purple {
    color: var(--color-purple);
}

.subtitle--orange {
    color: var(--color-orange);
}

.subtitle--green {
    color: var(--color-green);
}

.preview__descr {
    position: relative;
    color: var(--color-grey-primary);
}

.subtitle--lightpink {
    color: var(--color-light-pink);
}

.preview__descr--video::after {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    background-image: url(../icons/tab-video-play.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: 3px;
}

/* news */
.news__grid {
    row-gap: var(--gap);
    -moz-column-gap: calc(var(--gap) - 1px);
    column-gap: calc(var(--gap) - 1px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
}

.article-card:nth-child(1) {
    padding-right: 0;
    grid-column: span 2;
}

.article-card:nth-child(4) {
    grid-row: span 2;
}

.article-card {
    width: 263px;
    min-height: 170px;
    background: var(--color-white);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding-left: 25px;
    padding-top: 35px;
}

.article-card--big {
    min-height: 370px;
}

.article-card--wide {
    width: 555px;
}

.article-card__subtitle {
    margin-bottom: 20px;
}

.article-card__author {
    gap: 10px;
    padding-block: 12px;
    border-top: 1px solid var(--color-border);
}

.article-card__author-info {
    flex-direction: column;
    align-items: start;
}

.row {
    flex-direction: row;
    align-items: center;
}

.article-card__author-name {
    font-weight: 900;
    color: var(--color-grey-secondary);
}

.article-card__title {
    font-family: var(--font-family-accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.56;
    color: var(--color-grey-secondary);
    margin-bottom: 15px;
}

.article-card-title--big {
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.article-card__text {
    margin-bottom: 10px;
    color: var(--color-grey-primary);
}

.article-card__author-review {
    color: var(--color-grey-primary);
    margin-right: 15px;
}

.review__comment {
    font-size: 12px;
    line-height: 125%;
    color: var(--color-grey-span);
    column-gap: 10px;
}

.article-card:nth-child(2) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 18px 35px 30px 25px;
    color: var(--color-white);
}

.article__badge {
    position: absolute;
    top: 18px;
    left: 18px;
    padding: 6px 12px 5px;
    color: var(--color-white);
    font-weight: 900;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    background-color: var(--color-green);
    border-radius: 3px;
}

.title-modified {
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    margin-top: 10px;
}

.article-card__author-unstyled {
    padding-block: 0;
    border: none;
    color: var(--color-white);
}

.author-name--white {
    flex-grow: 1;
    color: var(--color-white);
    opacity: 0.85;
}

.comment-number img {
    display: inline-block;
}

.comment-number,
.likes-number {
    column-gap: 5px;
}

.news__grid-aside {
    grid-row: span 3;
}

.col-popular {
    max-width: 263px;
    width: 100%;
    padding-inline: 25px;
    background-color: var(--color-greyblue);
    border-radius: 10px;
}

.col-popular__title {
    position: relative;
    padding-block: 20px;
    font-weight: 900;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--color-white);
}

.col-popular__title::after {
    content: "";
    position: absolute;
    width: 123%;
    height: 1px;
    background: var(--color-grey-blue);
    opacity: .5;
    left: -24px;
    right: 0;
    bottom: 0;
}

.col-popular__item {
    position: relative;
}

.col-popular__item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--color-grey-blue);
    opacity: .5;
    left: 0;
    bottom: 0;
    z-index: 3;
}

.col-popular-card {
    position: relative;
    min-height: auto;
    max-width: 203px;
    margin: 0 auto;
    background-color: transparent;
    padding: 45px 0 39px 0;
}

.col-popular-card:last-child {
    margin-bottom: 8px;
}

.col-popular-card__link::before {
    content: "";
    position: absolute;
    width: 123%;
    height: 1px;
    background: var(--color-grey-blue);
    opacity: .5;
    left: -24px;
    right: 0;
    top: 0;
    z-index: 3;
}

.col-popular-card h3 {
    text-transform: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 15px;
}

.col-popular-card span {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #d1e2eb;
    opacity: 1;
}

.col-popular-card__link {
    position: relative;
    display: block;
    padding-top: 11px;
    padding-bottom: 14px;
    font-weight: 900;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: var(--color-white);
}

.img-card {
    padding: 0;
}

.article-card-content-spacing {
    padding: 15px 25px 5px;
}