@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Slab";
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    padding: 0;
    border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    height: 100%;
    /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
    scrollbar-gutter: stable;
    /**
    Плавный скролл
   */
    scroll-behavior: smooth;
}

body {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    min-height: 100%;
    /**
    Унифицированный интерлиньяж
   */
    line-height: 1.5;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
    cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
    -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill="none"],
        [fill^="url"])) {
    fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke="none"],
        [stroke^="url"])) {
    stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
    border-collapse: collapse;
    border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --color-grey-primary: #4b5157;
    --color-grey-secondary: #262d33;
    --color-white: #fff;
    --color-bg: #30363D;
    --color-white-opacity: rgba(255, 255, 255, 0.4);
    --color-blue: #4592ff;
    --color-green: #3dc47e;
    --color-greyblue: #6e99ae;
    --color-bluegreen: #3bbdc4;
    --color-grey-icon: #bcbfc2;
    --color-grey-blue: #b4d1e0;
    --color-purple: #ac8ee3;
    --color-orange: #ffa34d;
    --color-red: #ff4f52;
    --color-red-accent: #eb5757;
    --color-back-light: #e5e5e5;
    --color-border: #d9dadb;
    --color-grey: #d9dadb;
    --color-grey-span: #939699;

    --gap: 3rem;
    --width-content: 117rem;
    --font-family-base: "Lato", sans-serif;
    --font-family-accent: "Roboto Slab", serif;
    --fz-tiny: 12px;
    --fz-primary: 14px;
    --fz-medium: 16px;
    --fz-big: 2.5rem;
    --fz-title: 40px;

    --container-width: 1140px;
    --container-padding-x: 15px;

    --transition-duration: .2s;
}

body {
    height: 100%;
    overflow-x: hidden;
    font-family: var(--font-family-base);
    line-height: 1.43;
    font-weight: 400;
    font-style: normal;
    font-size: var(--fz-primary);
    color: var(--color-grey-primary);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

button {
    border: none;
    padding: 0;
    outline: 0;
    background: transparent;
    display: inline-block;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--color-grey-secondary);
}

a:hover {
    color: var(--color-purple);
}

p {
    margin-block: 0;
}

input {
    border: none;
}

input:focus {
    outline: none;
}


.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-wide {
    max-width: 1920px;
    margin-inline: auto;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--color-light);
}

.title {
    font-family: "Roboto Slab", serif;
    line-height: 2.5rem;
    font-weight: 700;
    font-style: normal;
}

.flex-space {
    display: flex;
    align-items: center;
}


/* header */
.header__top {
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    height: 50px;
}


.header__top-nav-wrapper {
    column-gap: 15px;
    padding-right: 25px;
}

.nav-burger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18px;
    height: 14px;
    transition: .3s cubic-bezier(.215, .61, .355, 1);
}

.nav-burger-button span {
    background: var(--color-grey-icon);
    width: 18px;
    height: 2px;
    transition: .3s cubic-bezier(.215, .61, .355, 1);
}

.nav-burger-button span:nth-child(2) {
    width: 12px;
}

.header__top-nav-wrapper span {
    font-weight: 900;
    color: var(--color-grey-secondary);
}

.search-form {
    position: relative;
    width: 400px;
    column-gap: 10px;
    padding-left: 26px;
}

.search-form::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 1px;
    height: 53px;

    background-color: var(--color-border);
}

.search-form__input {
    width: 100%;
}

.input::placeholder {
    color: var(--color-grey-span);
}


.header__action {
    column-gap: 25px;
}

.subscribe-promo {
    align-items: start;
    column-gap: 10px;
}

.subscribe-promo-img {
    width: 66px;
    height: 44px;
}

.subscribe-promo {
    padding-top: 7px;
}

.subscribe-promo__body {
    flex-direction: column;
    justify-content: center;
    width: 119px;
    align-items: start;
    padding-top: 4px;
}

.subscribe-promo-title {
    font-weight: 900;
    font-size: 12px;
    line-height: 1.25;
    color: var(--color-grey-secondary);
}

.subscribe-promo-sub {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: var(--color-grey-span);
}

.sign-in {
    column-gap: 10px;
    color: var(--color-grey-primary);
}

.header__masthead {
    height: 84px;
    justify-content: space-between;
}

.header__masthead-logo-wrapper {
    column-gap: 15px;
}

.header__masthead-title {
    font-size: var(--fz-title);
    margin-left: -85px;
    color: var(--color-grey-secondary);
}

.datetime-weather__date {
    width: 195px;
}

.datetime-weather {
    column-gap: 23px;
}

.datetime-weather__weather {
    column-gap: 10px;
}

.header__nav {
    padding-block: 17px;
    background-color: var(--color-grey-secondary);
    text-transform: uppercase;
}

.header__nav-list {
    justify-content: space-between;
}

.header__nav-item {
    padding: 3px;
    display: inline-block;
    transition: all .2s ease;
}

.header__nav-item:hover {
    box-shadow: 1px 1px 3px rgba(217, 218, 219, .3);
    transform: translateY(-2px);
}

.header__nav-link,
.header__nav-link:hover {
    color: #fff;
}

/* hero */

.main {
    background-color: #EDEFF0;
}

.hero {
    padding-top: 30px;
    background-color: var(--color-grey-secondary);
    background-image: linear-gradient(to bottom, #262d33 60%, #e5e5e5 40%);
}

.hero__article-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4rem;
    padding: 25px 25px 30px 25px;
    background-color: var(--color-bg);
    border-radius: 10px;
    margin-bottom: 30px;
}

.hero__article-item {
    position: relative;
}

.article__link {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.article__title {
    font-family: var(--font-family-accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.56;
    color: var(--color-white);
    max-width: 154px;
}

.hero__article-item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: -2.1rem;
    background: var(--color-grey-primary);
}

.hero__tabs {
    display: flex;
    background-color: #fff;
}

.tabs__content {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    flex-basis: 87.7rem;
}

.tab {
    padding-top: 55px;
    padding-left: 55px;
    padding-bottom: 95px;
}

.tab__img {
    position: absolute;
    inset: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
}


.tabs__right {
    flex-basis: 26.3rem;
    flex-grow: 1;
}